.carousel {
    padding: 81px 0 82px 0;

    .container {
        padding: 0;
    }

    &-inner {
        justify-content: space-between;
        width: 750px;
        margin: 0 auto;
    }

    &-control-prev {
        justify-content: start;
    }

    &-control-next {
        justify-content: end;

        img {
            margin: 0 0 0 -15px;
        }
    }


    /*     &__wrapper {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }


    .prev,
    .next {
        position: absolute;
        border: none;
        background-color: white;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;

        img {
            width: 31px;
            height: 50px;
        }
    }

    .next {
        left: auto;
        right: 0px;

    }

    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }

    .tns-nav {


        button {
            position: absolute;
            left: 50%;
            background-color: grey;
            border: none;
            height: 10px;
            width: 10px;
            border-radius: 100%;

        }

        :nth-child(1) {
            transform: translateX(-250%);
        }

        :nth-child(2) {
            transform: translateX(-50%);
        }

        :nth-child(3) {
            transform: translateX(150%);
        }

        .tns-nav-active {
            background-color: black;

        }
    } */
}