.catalog {
    padding-bottom: 100px;

    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 70px 0 0 0;
        list-style-type: none;
        padding: 0;
    }

    &__tab {
        margin: 0 5px;
        width: 222px;
        height: 52px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        line-height: 52px;
        text-transform: uppercase;
        color: #6B6B6B;
        transform: skewX(-25deg);
        cursor: pointer;
        transition: .5s all;

        &:hover {
            box-shadow: 3px 3px 5px $red;
        }

        div {
            transform: skewX(25deg);
        }

        &_active {
            background: $red;
            color: #fff;
            border: none;
        }
    }

    &__content {
        margin-top: 50px;
        flex-wrap: wrap;
        display: none;

        &_active {
            display: flex;
        }
    }

    &-item {
        width: 300px;
        min-height: 442px;
        border: 2px solid #E8E8E8;
        padding: 20px;
        overflow: hidden;
        margin: 8px;


        &__wrapper {
            display: flex;
            min-height: 340px;
            width: calc(200% + 40px);
        }

        &__main {
            position: relative;
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            padding-right: 20px;
            transition: .5s all;
            flex-shrink: 0;

            &_active {
                transform: translateX(0%);
            }
        }

        &__details {
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            margin-bottom: 0;
            transition: .5s all;

            &_active {
                transform: translateX(100%);
            }

            ul {
                padding-left: 19px;
                list-style-type: none;

                li {
                    position: relative;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 21px;
                    color: #555555;
                    margin-bottom: 20px;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        background-color: $red;
                        left: -14px;
                        top: 8px;
                    }
                }
            }

            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }
        }

        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }

        &__title {
            margin-top: 15px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
            color: #0D0D0D;
        }

        &__descr {
            margin-top: 15px;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #0D0D0D;
        }

        &__link-main,
        &__link-details {

            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 10px));
            display: block;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            text-decoration-line: underline;
            text-transform: uppercase;
            color: $red;
            cursor: pointer;

            &:hover {
                color: $red;
            }
        }

        hr {
            margin: 17px 0;
            background: #E8E8E8;
            border-bottom: none;

        }

        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__old-price {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }

        &__new-price {
            margin-top: 4px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            color: #050505;
        }
    }
}