.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba($color: #000000, $alpha: .56);

}

#consultation,
#order,
#thanks {
    display: none;
}

.modal {
    overflow: visible;
    position: absolute;
    width: 382px;
    height: fit-content;
    background: #F2F2F2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 35px 25px 40px 25px;

    &__close {
        position: absolute;
        color: $red;
        top: 0;
        left: calc(100% + 19px);
        font-size: 40px;
        line-height: 20px;
        cursor: pointer;
        transition: .2s all;

        &:hover {
            color: #FFF
        }
    }

    &__subtitle {
        font-weight: 700;
        font-size: 19px;
        line-height: 19px;
        text-align: center;
        color: #0D0D0D;
    }

    &__descr {
        margin-top: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #0D0D0D;
    }

    .feed-form {
        margin: 26px auto 0 auto;
    }

    .error {
        border: 1px solid red;
    }

    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
        font-size: 12px;
    }
}

.modal_mini {
    height: 140px;
}